/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'Lato';
$secondaryFont: 'Aparajita';

// Animations
$fastAnim: all 0.5s ease;
$slowAnim: all 1s ease;

// Colors
$white: #ffffff;
$black: #000000;