//---------------------------------------------------------------------------
  >>> Footer Block :
  ---------------------------------------------------------------------------

footer#site-footer.site-footer(role='contentinfo')
  .container
    .site-footer-top-list
      .footer-top-list-item
        .list-item-title shopping with us
        ul.list-item-menu
          li
            a why shop with us?
          li
            a how it works
          li
            a delivery
          li
            a returns
          li
            a where's my order
          li
            a contact & help
          li
            a wedding list
          li
            a wish lists
          li
            a gift vouchers

      .footer-top-list-item
        .list-item-title about us
        ul.list-item-menu
          li
            a our story
          li
            a customer contact
          li
            a awards
          li
            a press centre
          li
            a work with us
          li
            a terms & conditions
          li
            a privacy & cookies



      .footer-top-list-item
        .list-item-title selling with us
        ul.list-item-menu
          li
            a why join?
          li
            a faqs
          li
            a apply to sell with us
          li
            a affiliates

      .footer-top-list-item
        .list-item-title Signup newsletter
        form.footer-form
          input(placeholder="e.g.: abc@domain.com" type="email")
          input(value="Subscribe now" type="submit")
        .list-item-title Keep in touch
        ul.social-list
          li <svg xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"width="55px" height="54px"><path fill-rule="evenodd"  fill="rgb(57, 89, 159)"d="M0.015,-0.000 L54.195,-0.000 L54.195,54.000 L0.015,54.000 L0.015,-0.000 Z"/><path fill-rule="evenodd"  fill="rgb(255, 255, 255)"d="M34.034,13.952 L30.123,13.952 C30.123,13.952 24.007,13.313 24.007,19.657 C24.007,21.013 24.007,22.285 24.007,22.285 L21.519,22.285 L21.479,27.277 L24.007,27.277 L24.007,40.563 L29.806,40.563 L29.806,27.277 L33.155,27.277 L33.969,22.285 L29.806,22.285 L29.806,20.255 C29.806,20.255 29.449,18.540 31.511,18.540 L33.994,18.540 L34.034,13.952 Z"/></svg>
          li <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="62px" height="61px"><path fill-rule="evenodd"  stroke-width="1px" stroke="rgb(219, 219, 219)" fill="rgb(255, 255, 255)" d="M4.320,3.500 L58.500,3.500 L58.500,57.500 L4.320,57.500 L4.320,3.500 Z"/><path fill-rule="evenodd"  fill="rgb(255, 0, 132)" d="M39.189,37.001 C35.645,37.001 32.773,34.138 32.773,30.606 C32.773,27.074 35.645,24.211 39.189,24.211 C42.732,24.211 45.605,27.074 45.605,30.606 C45.605,34.138 42.732,37.001 39.189,37.001 ZM23.655,37.001 C20.111,37.001 17.239,34.138 17.239,30.606 C17.239,27.074 20.111,24.211 23.655,24.211 C27.198,24.211 30.071,27.074 30.071,30.606 C30.071,34.138 27.198,37.001 23.655,37.001 Z"/><path fill-rule="evenodd"  fill="rgb(255, 0, 132)" d="M33.401,23.048 L51.961,23.048 L51.961,38.806 L33.401,38.806 L33.401,23.048 Z"/><path fill-rule="evenodd"  fill="rgb(0, 99, 220)" d="M12.779,23.048 L31.339,23.048 L31.339,38.806 L12.779,38.806 L12.779,23.048 Z"/></svg>
          li <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="54px" height="53px"><path fill-rule="evenodd"  fill="rgb(24, 114, 191)" d="M-0.000,-0.000 L54.000,-0.000 L54.000,53.000 L-0.000,53.000 L-0.000,-0.000 Z"/><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M30.709,16.963 C30.892,17.075 31.098,17.238 31.328,17.452 C31.547,17.675 31.763,17.950 31.974,18.276 C32.175,18.584 32.354,18.947 32.510,19.366 C32.638,19.785 32.702,20.274 32.702,20.833 C32.685,21.858 32.454,22.677 32.011,23.292 C31.793,23.591 31.563,23.865 31.320,24.117 C31.050,24.368 30.763,24.624 30.459,24.885 C30.285,25.062 30.124,25.262 29.976,25.486 C29.802,25.719 29.715,25.989 29.715,26.296 C29.715,26.595 29.805,26.841 29.983,27.037 C30.134,27.223 30.282,27.386 30.424,27.526 L31.415,28.322 C32.030,28.816 32.569,29.361 33.033,29.957 C33.470,30.562 33.698,31.354 33.716,32.333 C33.716,33.720 33.091,34.950 31.842,36.021 C30.547,37.130 28.679,37.703 26.237,37.740 C24.193,37.721 22.666,37.293 21.658,36.457 C20.641,35.676 20.132,34.741 20.132,33.654 C20.132,33.123 20.297,32.533 20.628,31.882 C20.949,31.231 21.531,30.660 22.373,30.167 C23.318,29.637 24.311,29.284 25.351,29.107 C26.381,28.958 27.237,28.875 27.918,28.856 C27.708,28.584 27.520,28.294 27.355,27.985 C27.163,27.685 27.067,27.325 27.067,26.903 C27.067,26.650 27.104,26.439 27.177,26.271 C27.241,26.093 27.300,25.929 27.355,25.779 C27.024,25.817 26.711,25.835 26.418,25.835 C24.864,25.817 23.680,25.337 22.865,24.396 C22.013,23.521 21.586,22.501 21.586,21.337 C21.586,19.930 22.190,18.554 23.398,17.408 C24.228,16.737 25.090,16.199 25.985,15.994 C26.870,15.817 27.700,15.603 28.475,15.603 L34.311,15.603 L32.509,16.963 L30.709,16.963 ZM27.767,25.055 C28.535,25.027 29.176,24.757 29.688,24.243 C29.935,23.879 30.094,23.506 30.164,23.123 C30.207,22.741 30.228,22.419 30.228,22.157 C30.228,21.028 29.934,19.889 29.345,18.741 C29.069,18.190 28.706,17.742 28.255,17.397 C27.795,17.070 27.266,16.898 26.668,16.879 C25.877,16.898 25.220,17.210 24.696,17.817 C24.253,18.452 24.042,19.161 24.061,19.945 C24.061,20.981 24.370,22.060 24.988,23.179 C25.287,23.702 25.673,24.145 26.146,24.509 C26.619,24.874 27.159,25.055 27.767,25.055 L27.767,25.055 ZM31.837,33.452 C31.837,32.725 31.595,32.092 31.112,31.552 C30.600,31.039 29.801,30.410 28.714,29.665 C28.528,29.646 28.310,29.637 28.059,29.637 C27.910,29.618 27.529,29.637 26.916,29.693 C26.312,29.777 25.694,29.912 25.062,30.098 C24.913,30.154 24.704,30.238 24.435,30.350 C24.165,30.471 23.891,30.643 23.612,30.867 C23.343,31.100 23.115,31.389 22.929,31.733 C22.716,32.097 22.609,32.535 22.609,33.047 C22.609,34.053 23.073,34.882 24.003,35.535 C24.886,36.187 26.094,36.522 27.627,36.541 C29.002,36.522 30.052,36.224 30.777,35.646 C31.483,35.078 31.837,34.347 31.837,33.452 L31.837,33.452 Z"/></svg>
          li <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55px" height="54px"><path fill-rule="evenodd"  fill="rgb(248, 188, 46)" d="M-0.000,-0.000 L54.179,-0.000 L54.179,54.000 L-0.000,54.000 L-0.000,-0.000 Z"/><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M35.046,39.343 C35.046,29.015 26.620,20.609 16.254,20.609 L16.254,16.142 C29.112,16.142 39.532,26.534 39.532,39.343 L35.046,39.343 ZM31.382,39.343 L26.896,39.343 C26.896,33.492 22.121,28.732 16.254,28.732 L16.254,24.264 C24.613,24.264 31.382,31.019 31.382,39.343 ZM18.997,33.874 C20.513,33.874 21.741,35.098 21.741,36.608 C21.741,38.118 20.513,39.343 18.997,39.343 C17.482,39.343 16.254,38.118 16.254,36.608 C16.254,35.098 17.482,33.874 18.997,33.874 Z"/></svg>
          li <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="55px" height="54px"><path fill-rule="evenodd"  fill="rgb(69, 176, 227)" d="M0.805,-0.000 L54.984,-0.000 L54.984,54.000 L0.805,54.000 L0.805,-0.000 Z"/><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.618,31.951 C11.618,31.951 17.842,37.346 22.792,31.998 C22.792,31.998 21.964,31.997 21.433,31.590 C20.949,31.219 20.757,30.439 20.757,30.439 C20.757,30.439 22.297,29.580 21.719,28.932 C21.719,28.932 18.313,28.865 18.123,26.815 L20.123,25.528 C20.123,25.528 19.337,25.908 18.559,25.522 C18.559,25.522 16.540,24.078 16.925,22.600 L18.612,22.429 C18.612,22.429 15.686,20.356 16.503,18.763 C16.503,18.763 16.785,17.393 26.466,23.800 C26.466,23.800 28.173,17.745 31.325,16.414 C31.325,16.414 31.849,16.665 31.849,16.931 C31.849,16.931 32.297,15.973 32.886,15.884 C32.886,15.884 33.599,16.509 33.135,16.866 C33.135,16.866 34.335,16.048 34.920,16.463 C34.920,16.463 34.872,17.190 33.148,18.096 C33.148,18.096 37.623,18.343 39.184,24.289 C39.184,24.289 41.125,24.985 42.947,23.817 C42.947,23.817 43.098,24.696 40.269,25.939 C40.269,25.939 40.533,26.362 42.904,26.040 C42.904,26.040 42.885,27.798 39.134,27.784 C39.134,27.784 35.967,36.931 28.268,38.190 C18.912,39.720 12.340,35.058 11.618,31.951 Z"/></svg>

    .site-footer-bottom
      p Copyright © 2014 Gift Shop,  All right reserved
      p 
        | Designed by 
        span Amysxain